<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Subject Information</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <h5 class="text-center font-weight-bold">Hello Username: {{usr}}</h5>
  <div class="container mt-4">
  </div>
  <div class="row mt-1 justify-content-center ">
    <div class="col-md-8">
      <div class="container mt-2">    
            <h4><b>Subject Information</b></h4>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Branch</th>
                  <th scope="col">Semester</th>
                  <th scope="col">Subject Name</th>
                  <th scope="col">section</th>
                  <th scope="col">StudentList</th>
                </tr>
          </thead>
          <tbody>
            {% for i in details %}
            <tr>
              {% for j in i %}
              <td>{{j}}</td>
              {% endfor %}
              <td>
                <a href="/{{i.1}}/{{i.0}}/{{i.3}}/{{i.2}}/"class="btn btn-primary btn-block">Roll list</a>
                <!-- <form action="/{{i.1}}/{{i.0}}/{{i.3}}/" method="POST">
                <input type="submit" class="btn btn-primary btn-block">Roll List></a>
              </form> -->
            </p></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>  
    </div>
    </div>
  <!-- Bootstrap JS and jQuery (for Bootstrap functionality) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
// $(document).ready(function () {
//     // Listen for date changes
//     var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
//     $("#myDate").on("change", function () {
//         var selectedDate = $("#myDate").val();
//         saveToSession('selected_date', selectedDate);
//     });
//     // Listen for timeslot changes
//     $("#mySelect").on("change", function () {
//         var selectedTimeslot = $("#mySelect").val();
//         saveToSession('selected_timeslot', selectedTimeslot);
//     });
//     function saveToSession(key, value) {
//         $.ajax({
//             type: "POST",
//             url: "/save_to_session/",
//             data: { key: key, value: value, csrfmiddlewaretoken: csrfToken},
//             success: function (data) {
//                 console.log(key + " saved to session successfully.");
//             },
//             error: function (error) {
//                 console.log("Error saving data to session:", error);
//             }
//         });
//     }
// });
  </script>
</body>
</html>
